.app3 .square{
    width: 100px;
    height: 100px;
    border: 1px solid #dddddd;
    margin-top: 100px;
    margin-left: 100px;
    transition: transform 1s ease;
}
.app3 .square.active{
    transform: translateX(15vw);
}