.app4 .circle{
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
@keyframes changes {
  0%{
      background-color: red;
  }
    100%{
    background-color: blue;
     }
}
.app4 .circle.active{
    animation: changes 1s alternate infinite linear;
}